{% extends 'base.html' %}

{% block content %}
<h1>Tareas</h1>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><i>{{ message }}</i></li>
    {% endfor %}
</ul>
{% endif %}
<a class="btn btn-info" href="{% url 'tasklist:task_create' %}">Crear tarea</a>
<br><br>
<table class="table table-bordered">
    <tr>
        <th>Tarea</th>
        <th style="width: 250px;">Acciones</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>
            {% if task.complete %}
                <del>{{ task.description }}</del>
            {% else %}
                {{ task.description }}
            {% endif %}
        </td>
        <td>
            <a class="btn btn-success" href="{% url 'tasklist:task_edit' task.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'tasklist:task_delete' task.id %}">Borrar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}